<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>상세보기</h1>
    <hr>
    <div>
        <div>
            <label>제목: </label>
            <span th:text="${board.title}"></span>
        </div>
        <div>
            <label>작성자: </label>
            <span th:text="${board.writer}"></span>
        </div>
        <div>
            <label>작성일: </label>
            <span th:text="${board.regDate}"></span>
        </div>
        <div>
            <label>내용: </label>
            <span th:text="${board.content}"></span>
        </div>
        <th:block th:if="${session.user.username == board.writer}">
           <div>
               <a th:href="@{/board/modify/{bno}(bno=${board.bno})}">수정</a>
           </div>
           <div>
                <a th:href="@{/board/delete/{bno}(bno=${board.bno})}">삭제</a>
           </div>
        </th:block>
    </div>
</body>
</html>