<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Main Page</h1>
    <hr>
    <p><a href="/p1">p1으로 가기</a></p>
    <p><a href="/p2">p2으로 가기</a></p>
    <p><a href="/registForm">회원가입</a></p>
    <p><a href="/login">로그인</a></p>
    <p><a href="/members/mypage1">멤버 페이지</a></p>
    <p><a href="/members/mypage2">멤버 페이지2</a></p>
    <p><a href="/members/mypage3">멤버 페이지3</a></p>
    <p><a href="/admin/adminpage">관리자 페이지</a></p>
</body>
</html>